In [ ]:
! pip install imblearn --user

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
smote = SMOTE()
from sklearn.metrics import classification_report
from sklearn import svm
from sklearn.model_selection import train_test_split

In [2]:
berka = pd.read_csv("C:/Users/niafrate/OneDrive - Ryerson University/CIND820/berka_cleaned.csv")

In [3]:
berka.head()

,amount,duration,payments,frequency,date_diff,card_type,no_orders,avg_order,avg_trans,avg_bal,no_of_trans,total_inhabitants,avg_unemp_rt,avg_crime_rt,avg_salary,age_at_loan,gender,same_district,loan_status
0,252060,60,4201,0.820475,232,0.753709,3,4194.73,6998.75,34002.08,444,1204953,0.36,0.077,12541,29,1,0,1
1,316140,60,5269,0.820475,683,0.753709,1,5269.00,3866.65,9629.35,414,1204953,0.36,0.077,12541,23,0,1,1
2,320976,48,6687,0.820475,251,0.194362,1,6687.00,13399.67,47205.48,301,1204953,0.36,0.077,12541,56,0,1,1
3,270648,36,7518,0.133531,307,0.753709,1,7518.00,7433.61,44437.71,408,1204953,0.36,0.077,12541,53,0,1,1
4,215388,36,5983,0.820475,156,0.753709,1,5983.00,7253.25,35553.19,399,1204953,0.36,0.077,12541,30,0,0,1

In [4]:
berka.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   amount             674 non-null    int64
 1   duration           674 non-null    int64
 2   payments           674 non-null    int64
 3   frequency          674 non-null    float64
 4   date_diff          674 non-null    int64
 5   card_type          674 non-null    float64
 6   no_orders          674 non-null    int64
 7   avg_order          674 non-null    float64
 8   avg_trans          674 non-null    float64
 9   avg_bal            674 non-null    float64
 10  no_of_trans        674 non-null    int64
 11  total_inhabitants  674 non-null    int64
 12  avg_unemp_rt       674 non-null    float64
 13  avg_crime_rt       674 non-null    float64
 14  avg_salary         674 non-null    int64
 15  age_at_loan        674 non-null    int64
 16  gender             674 non-null    int64
 17  same_district      674 non-null    int64
 18  loan_status        674 non-null    int64
dtypes: float64(7), int64(12)
memory usage: 100.2 KB

In [5]:
X = berka.iloc[:,:-1]
y = berka['loan_status']
print(X)

     amount  duration  payments  frequency  date_diff  card_type  no_orders  \
0    252060        60      4201   0.820475        232   0.753709          3
1    316140        60      5269   0.820475        683   0.753709          1
2    320976        48      6687   0.820475        251   0.194362          1
3    270648        36      7518   0.133531        307   0.753709          1
4    215388        36      5983   0.820475        156   0.753709          1
..      ...       ...       ...        ...        ...        ...        ...
669   73056        48      1522   0.820475        290   0.753709          3
670  253560        60      4226   0.820475        645   0.753709          1
671   73836        36      2051   0.820475        188   0.194362          3
672   91200        24      3800   0.820475        231   0.753709          2
673  123408        24      5142   0.045994        384   0.022255          5

     avg_order  avg_trans   avg_bal  no_of_trans  total_inhabitants  \
0      4194.73    6998.75  34002.08          444            1204953
1      5269.00    3866.65   9629.35          414            1204953
2      6687.00   13399.67  47205.48          301            1204953
3      7518.00    7433.61  44437.71          408            1204953
4      5983.00    7253.25  35553.19          399            1204953
..         ...        ...       ...          ...                ...
669    1772.00    2022.00  17913.51          294             119895
670    4226.50   10167.70  40490.78          126             119895
671    2447.67    8097.13  43375.65          335             119895
672    7039.40    7871.54  32920.44          415             119895
673    4004.80    7442.08  53253.45          322             119895

     avg_unemp_rt  avg_crime_rt  avg_salary  age_at_loan  gender  \
0            0.36         0.077       12541           29       1
1            0.36         0.077       12541           23       0
2            0.36         0.077       12541           56       0
3            0.36         0.077       12541           53       0
4            0.36         0.077       12541           30       0
..            ...           ...         ...          ...     ...
669          8.37         0.040       10446           21       0
670          8.37         0.040       10446           47       1
671          8.37         0.040       10446           28       1
672          8.37         0.040       10446           39       1
673          8.37         0.040       10446           28       0

     same_district
0                0
1                1
2                1
3                1
4                0
..             ...
669              1
670              1
671              1
672              1
673              1

[674 rows x 18 columns]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state = 94)
X_train.shape

(539, 18)

In [16]:
berka_SVM = svm.SVC(kernel='linear', gamma='auto', C=2)
berka_SVM.fit(X_train, y_train)

y_predict = berka_SVM.predict(X_test)

In [17]:
pd.crosstab(y_test,y_predict)

col_0          0  1
loan_status
0            118  2
1             10  5

In [18]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95       120
           1       0.71      0.33      0.45        15

    accuracy                           0.91       135
   macro avg       0.82      0.66      0.70       135
weighted avg       0.90      0.91      0.90       135

In [12]:
X_train_smote, y_train_smote = smote.fit_resample(X_train.astype('float'),y_train)

In [13]:
from collections import Counter
print("Before SMOTE :" , Counter(y_train))
print("After SMOTE :" , Counter(y_train_smote))

Before SMOTE : Counter({0: 480, 1: 59})
After SMOTE : Counter({0: 480, 1: 480})

In [19]:
berka_SVM_smote = svm.SVC(kernel='linear', gamma='auto', C=2)
berka_SVM_smote.fit(X_train_smote,y_train_smote)

y_predict_smote = berka_SVM_smote.predict(X_test)

In [20]:
pd.crosstab(y_test,y_predict_smote)

col_0          0   1
loan_status
0            102  18
1              5  10

In [21]:
print(classification_report(y_test, y_predict_smote))

              precision    recall  f1-score   support

           0       0.95      0.85      0.90       120
           1       0.36      0.67      0.47        15

    accuracy                           0.83       135
   macro avg       0.66      0.76      0.68       135
weighted avg       0.89      0.83      0.85       135